body{
    font-size: medium;
    width: 100%;
    margin: 0 auto;
    letter-spacing: .5px;
}
h1 {
    text-align: center;
}

#container {
    padding: 1.5em;
    background: -webkit-linear-gradient(left, transparent 0%,#fff 50%,transparent 100%);
    border-radius: 10px;
}